import 'package:frame/main.dart';
{{# features }}
import 'package:{{ name }}/{{ name }}.dart';
{{/ features }}

void main() => startApp(
      name: '{{ fullName }}',
      features: [
        {{# features }}
        {{ fullName }}Feature(),
        {{/ features }}
      ],
    );
